
body{
	background-image: url("https://images.unsplash.com/photo-1422504090664-c57eba84293f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=095cab77a0eee49010bed1bf77965c51&auto=format&fit=crop&w=755&q=80");
}
#img{
width: 120%;
}

.text{
margin-top:20%; 
margin-left: 25%;
width: 60%; 
color: red;
font-size:4em;	
}
